PhoneVendFiles/PhoneVend/bower_components/
PhoneVendFiles/PhoneVend/node_modules/
PhoneVendFiles/PhoneVend/gitOld/objects/16/c37fc55f207461c405d006868c8373e6c7761f
PhoneVendFiles/PhoneVend/gitOld/
PhoneVendFiles/PhoneVend/.idea/
